html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
  margin: 0;
}

h2 {
  font-family: 'Dosis';
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
  color: #512200;
}

p {
  font-family: Georgia;
  font-size: 1rem;
}

dl {
  font-family: Georgia;
  font-size: .875rem;
  width: 100%;
  display: block;
  border-top-style: solid;
  border-top-color: #9a816d;
  border-top-width: 3px;
  padding-top: 1rem;
  border-bottom-style: solid;
  border-bottom-color: #9a816d;
  border-bottom-width: 3px;
  padding-bottom: 10rem;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-style: italic;
  display: inline-block;
}

.link-card {
  background-color: #dcd4cd;
  border-style: solid;
  border-color: #9a816d;
  border-width: 3px;
  border-radius: 3px;
  padding: 1rem;
  padding-top: 0;
  margin: 0;
  padding-bottom: 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card .btn {
  color: #fff;
  background-color: #785439;
  text-align: center;
  font-family: 'Dosis';
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  border-radius: 8px;
}

.link-card:hover .btn {
  background-color: #512200;
}

.link-card .btn-wrap {
  text-align: center;
  margin-top: 1rem;
}
