html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: 'Dosis';
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-family: Georgia;
  font-size: 1rem;
  color: #512200;
}

dl {
  font-family: Georgia;
  font-size: .875rem;
  width: 100%;
  color: #512200;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.link-card {
  color: #512200;
  text-decoration: none;
  background-color: #dcd4cd;
  border-style: solid;
  border-color: #9a816d;
  border-width: 3px;
  border-radius: 8px;
  padding: 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #bbb6e3;
